name: "Build"
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: "Checkout Repository"
      uses: actions/checkout@v2
    - name: "Restore"
      run: dotnet restore --locked-mode
    - name: "Build"
      run: dotnet build --no-restore --configuration Release
    - name: "Upload Artifact"
      uses: actions/upload-artifact@v4
      with:
        name: target
        path: target
        if-no-files-found: error
        compression-level: 0
        include-hidden-files: true
